@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Roboto+Condensed:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background: white;
}

.jockey-one {
  font-family: 'Jockey One', sans-serif;
}

.roboto-condensed {
  font-family: 'Roboto Condensed', sans-serif;
}